In [699]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, Normalizer, RobustScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [700]:
#Loading data and getting some information about it

In [701]:
df = pd.read_csv('melb_data.csv')
print(df)

              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               NaN        NaN        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3               NaN        NaN        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]

In [702]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [703]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [704]:
#df.Price, df.BuildingArea, df.Propertycount

In [705]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [706]:
df.shape

(13580, 21)

In [707]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [708]:
#Task-1: Filling the missing values in the dataset

In [709]:
missingValueImputerMean = SimpleImputer()
missingValueImputerFrequency = SimpleImputer(strategy='most_frequent')

In [710]:
#Filling missing values of "Car"
X = df.loc[:, ['Car']]
y = df.Price
df.Car = missingValueImputerMean.fit_transform(X, y)
df.Car = df.Car.astype(int)

#Filling missing values of "BuildingArea"
X = df.loc[:, ['BuildingArea']]
y = df.Price
df.BuildingArea = missingValueImputerMean.fit_transform(X, y)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1,202.0,151.96765,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0,156.0,79.00000,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0,134.0,150.00000,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1,94.0,151.96765,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2,120.0,142.00000,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [711]:
#Filling missing values of "YearBuilt"
X = df.loc[:, ['YearBuilt']]
y = df.Price
df.YearBuilt = missingValueImputerFrequency.fit_transform(X, y)

#Filling missing values of "BuildingArea"
X = df.loc[:, ['CouncilArea']]
y = df.Price
df.CouncilArea = missingValueImputerFrequency.fit_transform(X, y)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1,202.0,151.96765,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0,156.0,79.00000,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0,134.0,150.00000,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1,94.0,151.96765,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2,120.0,142.00000,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [712]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [713]:
#Task - 2:Replacing the categorical/nominal attributes

In [714]:
print(len(df.Suburb.unique()))
print(len(df.Address.unique()))
print(len(df.YearBuilt.unique()))
print(len(df.Date.unique()))
print(len(df.SellerG.unique()))
print(len(df.Postcode.unique()))
print(len(df.CouncilArea.unique()))
print(len(df.Regionname.unique()))
print(len(df.Type.unique()))
print(len(df.Method.unique()))

314
13378
144
58
268
198
33
8
3
5

In [715]:
#df = df.drop(['Suburb', 'Address', 'YearBuilt', 'Date', 'SellerG'], axis = 1)
df = df.drop(['Address', 'Date', 'SellerG'], axis = 1)

In [716]:
#Replacing "Type"
X = df.loc[:, ['Type']]
y = df.Price
OHEncoder = ce.OneHotEncoder(cols = ['Type'])
newCols = OHEncoder.fit_transform(X, y)
df = df.drop(['Type'], axis = 1)
df = df.join(newCols)

#Replacing "Method"
X = df.loc[:, ['Method']]
y = df.Price
OHEncoder = ce.OneHotEncoder(cols = ['Method'])
newCols = OHEncoder.fit_transform(X, y)
df = df.drop(['Method'], axis = 1)
df = df.join(newCols)

#Replacing "Regionname"
X = df.loc[:, ['Regionname']]
y = df.Price
OHEncoder = ce.OneHotEncoder(cols = ['Regionname'])
newCols = OHEncoder.fit_transform(X, y)
df = df.drop(['Regionname'], axis = 1)
df = df.join(newCols)

#Replacing "CouncilArea"
X = df.loc[:, ['CouncilArea']]
y = df.Price
OHEncoder = ce.OneHotEncoder(cols = ['CouncilArea'])
newCols = OHEncoder.fit_transform(X, y)
df = df.drop(['CouncilArea'], axis = 1)
df = df.join(newCols)

#Replacing "Suburb"
X = df.loc[:, ['Suburb']]
y = df.Price
OHEncoder = ce.OneHotEncoder(cols = ['Suburb'])
newCols = OHEncoder.fit_transform(X, y)
df = df.drop(['Suburb'], axis = 1)
df = df.join(newCols)

#Replacing "Postcode"
X = df.loc[:, ['Postcode']]
y = df.Price
OHEncoder = ce.OneHotEncoder(cols = ['Postcode'])
newCols = OHEncoder.fit_transform(X, y)
df = df.drop(['Postcode'], axis = 1)
df = df.join(newCols)

#Replacing "SellerG"
# X = df.loc[:, ['SellerG']]
# y = df.Price
# OHEncoder = ce.OneHotEncoder(cols = ['SellerG'])
# newCols = OHEncoder.fit_transform(X, y)
# df = df.drop(['SellerG'], axis = 1)
# df = df.join(newCols)

#Replacing "YearBuilt"
X = df.loc[:, ['YearBuilt']]
y = df.Price
OHEncoder = ce.OneHotEncoder(cols = ['YearBuilt'])
newCols = OHEncoder.fit_transform(X, y)
df = df.drop(['YearBuilt'], axis = 1)
df = df.join(newCols)

/home/omee/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/omee/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/omee/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/omee/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/omee/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/omee/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/omee/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [717]:
df.columns, df.columns.shape

(Index(['Rooms', 'Price', 'Distance', 'Bedroom2', 'Bathroom', 'Car', 'Landsize',
        'BuildingArea', 'Lattitude', 'Longtitude',
        ...
        'YearBuilt_135', 'YearBuilt_136', 'YearBuilt_137', 'YearBuilt_138',
        'YearBuilt_139', 'YearBuilt_140', 'YearBuilt_141', 'YearBuilt_142',
        'YearBuilt_143', 'YearBuilt_144'],
       dtype='object', length=716),
 (716,))

In [718]:
#Task - 3

In [719]:
#Turning it to a 5-class classification problem

In [720]:
df = df.sort_values(by = "Price")
df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,...,YearBuilt_135,YearBuilt_136,YearBuilt_137,YearBuilt_138,YearBuilt_139,YearBuilt_140,YearBuilt_141,YearBuilt_142,YearBuilt_143,YearBuilt_144
2652,1,85000.0,6.4,1.0,1.0,0,0.0,151.96765,-37.79110,144.89000,...,0,0,0,0,0,0,0,0,0,0
1805,4,131000.0,8.9,4.0,1.0,2,499.0,155.00000,-37.88640,145.02420,...,0,0,0,0,0,0,0,0,0,0
7303,1,145000.0,13.9,2.0,1.0,1,36.0,151.96765,-37.78330,144.82660,...,0,0,0,0,0,0,0,0,0,0
1927,4,145000.0,7.8,3.0,1.0,1,536.0,164.00000,-37.75550,144.96580,...,0,0,0,0,0,0,0,0,0,0
7940,1,160000.0,4.6,1.0,1.0,0,322.0,151.96765,-37.81980,145.03730,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12557,5,6400000.0,3.0,5.0,2.0,1,553.0,308.00000,-37.84908,144.95753,...,0,0,0,0,0,0,0,0,0,0
3616,6,6500000.0,5.6,6.0,6.0,3,1334.0,365.00000,-37.80290,145.02670,...,0,0,0,0,0,0,0,0,0,0
9575,4,7650000.0,5.3,4.0,2.0,4,1690.0,284.00000,-37.82652,145.03052,...,0,0,0,0,0,0,0,0,0,0
7692,5,8000000.0,9.0,5.0,5.0,4,2079.0,464.30000,-37.81790,145.06940,...,0,0,0,0,0,0,0,0,0,0
12094,3,9000000.0,18.8,3.0,1.0,1,744.0,117.00000,-37.93168,145.16126,...,0,0,0,0,0,0,0,0,0,0

In [721]:
df = df.reset_index(drop=True)

In [722]:
minVal = df.Price.min()
maxVal = df.Price.max()
rangeVal = maxVal - minVal
increment = rangeVal / 5
minVal, maxVal, rangeVal, increment

(85000.0, 9000000.0, 8915000.0, 1783000.0)

In [723]:
for i in range(df.shape[0]):
    if df.Price[i] >= minVal and df.Price[i] <= (minVal + increment):
        df.Price[i] = 'bottom value'
    elif df.Price[i] > (minVal + increment) and df.Price[i] <= (minVal + 2 * increment):
        df.Price[i] = 'low value'
    elif df.Price[i] > (minVal + 2 * increment) and df.Price[i] <= (minVal + 3 * increment):
        df.Price[i] = 'medium value'
    elif df.Price[i] > (minVal + 3 * increment) and df.Price[i] <= (minVal + 4 * increment):
        df.Price[i] = 'high value'
    else:
        df.Price[i] = 'top value'

<ipython-input-723-7a4ec933cfa1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price[i] = 'bottom value'
/home/omee/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
<ipython-input-723-7a4ec933cfa1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price[i] = 'low value'
<ipython-input-723-7a4ec933cfa1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price[i] = 'medium value'
<ipython-input-723-7a4ec933cfa1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price[i] = 'high value'
<ipython-input-723-7a4ec933cfa1>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price[i] = 'top value'

In [724]:
#K-Nearest Neighbor

In [732]:
predictionAccuraciesKnn = []
bestPredAccuracy = 0.0
bestK = 0
testScore = 0.0
acc = [0.]*6
for i in range(1, 11):
    print(f'Iteration {i}/10:')
    print('----------------')
    for k in range(5, 11):
        #Splitting into train, test and validation set
        train, test = train_test_split(df, test_size=0.25, random_state=k*i, shuffle=True)
        test, val = train_test_split(test, test_size=0.4, random_state=k*i, shuffle=True)

        y_train = train['Price'].values
        y_test = test['Price'].values
        y_val = val['Price'].values

        X_train = train.drop(columns=['Price'])
        X_test = test.drop(columns=['Price'])
        X_val = val.drop(columns=['Price'])

        #Normalizing data:
        scaler = RobustScaler()
        X_train = scaler.fit_transform(X_train)
        X_test = scaler.transform(X_test)
        X_val = scaler.transform(X_val)


        knnClassifier = KNeighborsClassifier(n_neighbors = k)
        knnClassifier.fit(X_train, y_train)
        y_pred = knnClassifier.predict(X_val) 
        

        predAccuracy = accuracy_score(y_val,y_pred)
        acc[k - 5] += predAccuracy
        print(f'k = {k}, Accuracy: {round((predAccuracy * 100), 7)}%')
        if predAccuracy > bestPredAccuracy:
            bestK = k
            bestPredAccuracy = predAccuracy
            y_pred_test = knnClassifier.predict(X_test)
            testScore = accuracy_score(y_test,y_pred_test)

    print('')
    print('Best results found for k =', bestK)
    print(f'Test set accuracy for k = {bestK} is {round((testScore * 100), 57)} %')
    print('')
    predictionAccuraciesKnn.append(testScore)
    
print(f'Mean of test set accuracies : {np.mean(predictionAccuraciesKnn)}')
print(f'Standard deviation of test set accuracies : {np.std(predictionAccuraciesKnn)}')

print('')
for k in range(5, 11):
    print(f'Average accuracy for k = {k} is {round(((acc[k - 5] / 10) * 100), 7)} %')

Iteration 1/10:
----------------
k = 5, Accuracy: 91.7525773%
k = 6, Accuracy: 93.5198822%
k = 7, Accuracy: 93.5935199%
k = 8, Accuracy: 92.7835052%
k = 9, Accuracy: 92.2680412%
k = 10, Accuracy: 93.0044183%

Best results found for k = 7
Test set accuracy for k = 7 is 92.78350515463917 %

Iteration 2/10:
----------------
k = 5, Accuracy: 92.7835052%
k = 6, Accuracy: 92.7098675%
k = 7, Accuracy: 93.3726068%
k = 8, Accuracy: 93.6671576%
k = 9, Accuracy: 92.3416789%
k = 10, Accuracy: 92.7098675%

Best results found for k = 8
Test set accuracy for k = 8 is 93.17623956799214 %

Iteration 3/10:
----------------
k = 5, Accuracy: 93.0044183%
k = 6, Accuracy: 92.562592%
k = 7, Accuracy: 92.8571429%
k = 8, Accuracy: 93.6671576%
k = 9, Accuracy: 93.3726068%
k = 10, Accuracy: 93.4462445%

Best results found for k = 8
Test set accuracy for k = 8 is 93.17623956799214 %

Iteration 4/10:
----------------
k = 5, Accuracy: 92.3416789%
k = 6, Accuracy: 93.5198822%
k = 7, Accuracy: 92.6362297%
k = 8, Accuracy: 92.8571429%
k = 9, Accuracy: 91.8998527%
k = 10, Accuracy: 93.8880707%

Best results found for k = 10
Test set accuracy for k = 10 is 92.48895434462445 %

Iteration 5/10:
----------------
k = 5, Accuracy: 93.1516937%
k = 6, Accuracy: 93.2253314%
k = 7, Accuracy: 92.562592%
k = 8, Accuracy: 93.2253314%
k = 9, Accuracy: 93.814433%
k = 10, Accuracy: 94.1089838%

Best results found for k = 10
Test set accuracy for k = 10 is 92.88168875797741 %

Iteration 6/10:
----------------
k = 5, Accuracy: 93.078056%
k = 6, Accuracy: 92.2680412%
k = 7, Accuracy: 93.2253314%
k = 8, Accuracy: 91.7525773%
k = 9, Accuracy: 92.7098675%
k = 10, Accuracy: 93.8880707%

Best results found for k = 10
Test set accuracy for k = 10 is 92.88168875797741 %

Iteration 7/10:
----------------
k = 5, Accuracy: 92.4889543%
k = 6, Accuracy: 92.9307806%
k = 7, Accuracy: 93.5935199%
k = 8, Accuracy: 93.2989691%
k = 9, Accuracy: 92.6362297%
k = 10, Accuracy: 92.7098675%

Best results found for k = 10
Test set accuracy for k = 10 is 92.88168875797741 %

Iteration 8/10:
----------------
k = 5, Accuracy: 92.1207658%
k = 6, Accuracy: 91.826215%
k = 7, Accuracy: 93.078056%
k = 8, Accuracy: 92.3416789%
k = 9, Accuracy: 93.1516937%
k = 10, Accuracy: 93.2253314%

Best results found for k = 10
Test set accuracy for k = 10 is 92.88168875797741 %

Iteration 9/10:
----------------
k = 5, Accuracy: 93.1516937%
k = 6, Accuracy: 92.562592%
k = 7, Accuracy: 91.8998527%
k = 8, Accuracy: 92.7098675%
k = 9, Accuracy: 93.2253314%
k = 10, Accuracy: 94.2562592%

Best results found for k = 10
Test set accuracy for k = 10 is 93.47079037800687 %

Iteration 10/10:
----------------
k = 5, Accuracy: 92.9307806%
k = 6, Accuracy: 93.7407953%
k = 7, Accuracy: 93.0044183%
k = 8, Accuracy: 93.5935199%
k = 9, Accuracy: 94.2562592%
k = 10, Accuracy: 92.6362297%

Best results found for k = 10
Test set accuracy for k = 10 is 93.47079037800687 %

Mean of test set accuracies : 0.9300932744231714
Standard deviation of test set accuracies : 0.002947144039234871

Average accuracy for k = 5 is 92.6804124
Average accuracy for k = 6 is 92.8865979
Average accuracy for k = 7 is 92.982327
Average accuracy for k = 8 is 92.9896907
Average accuracy for k = 9 is 92.9675994
Average accuracy for k = 10 is 93.3873343

In [ ]:
#Random Forest

In [731]:
a = [0.]*6
print(a)
a[5] += 1
print(a)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[0.0, 0.0, 0.0, 0.0, 0.0, 1.0]